config SHIELD_ULTRA_CHOC_WINGS_DONGLE
    def_bool $(shields_list_contains,ultra_choc_wings_dongle)

config SHIELD_ULTRA_CHOC_WINGS_LEFT
    def_bool $(shields_list_contains,ultra_choc_wings_left)

config SHIELD_ULTRA_CHOC_WINGS_RIGHT
    def_bool $(shields_list_contains,ultra_choc_wings_right)
